.pill {
  font-family: "SpaceAge";
  display: flex;
  background-color: #f9e9b6;
  border-radius: 20px;
  color: #372b05;
  font-size: 12px;
  padding: 1px 5px;
}

.pill.about {
  font-size: 21px;
  padding: 3px 12px;
  background-color: #ecff5f;
  font-family: "DsDigital";
}
