.container-panel-button {
  all: unset;
  cursor: pointer;
  color: #ffcb6a;
  font-size: 30px;
  font-family: D3Digitalism;
}
.container-panel-button:hover {
  text-shadow: 1px 2px 4px #ffcb6a, 0px -2px 5px #ffcb6a;
}
