.projects-container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
}

.projects-left-container {
  flex: 2;
  height: 66dvh;
  position: relative;
  display: flex;
  z-index: 2;
}

.projects-panel-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50dvh;
  width: 90dvw;
  flex: 1;
}

.projects-right-container {
  position: relative;
  flex: 1;
  height: 33dvh;
  top: 65px;
  z-index: 1;
}

@media (min-width: 768px) {
  .projects-container {
    flex-direction: row;
  }

  .projects-left-container {
    flex: 3;
    height: 100dvh;
  }
  .projects-panel-container {
    height: 60dvh;
    width: 40dvw;
    max-height: 400px;
  }

  .projects-right-container {
    flex: 2.5;
    height: 100dvh;
    top: 0;
  }
}
