.back-button {
  all: unset;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button:hover {
  filter: drop-shadow(-1px -2px 6px #8cd1c4) drop-shadow(1px 2px 6px #8cd1c4);
}

.arrow {
  display: inline-block;
}

.arrow-right {
  margin-left: 10px;
}

.arrow-left {
  margin-right: 10px;
}
